body {
    background-image: url("background.png");
}

h1 {
    color:darkorange;
}

.welcomeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabDiv {
    display: flex;
    justify-content: center;
    gap: 5px;
}