body {
    background-image: url("background.png");
}

h1 {
    color:darkorange;
}

.welcomeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabDiv {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.tabButton {
    color:yellow;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
}

.tabcontent {
    
}

#content {
    display: flex; 
    flex-direction: column; 
    gap: 10vh;
}